*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: 100%/1.5 system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    max-width: 80rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}